.bg-blur {
    @apply w-screen h-screen fixed z-[-8];
    /* background-color: rgba(0, 0, 0, .05); */
    backdrop-filter: blur(90px);
}
.bg-blur-colors {
    @apply w-screen h-screen grid bg-black fixed z-[-10];
    .bg-blur-pixel {
        @apply min-w-[30px] relative z-[-9];
    }
}

#music-progress-bar {
    @apply h-[.25rem] rounded cursor-pointer outline-0;
    background: linear-gradient(to right, #fff var(--progress-width), #9ca3af var(--progress-width));

    -webkit-appearance: none;
    appearance: none;
    &::-webkit-slider-runnable-track {
        @apply h-[.25rem] rounded;
        background: linear-gradient(to right, #fff var(--progress-width), #9ca3af var(--progress-width));
    }
    &::-webkit-slider-thumb {
        @apply mt-[-6px] invisible;
        /* -webkit-appearance: none;
        appearance: none; */
    }
}

.music-icon {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.btn-music-player {
    .btn-music-player-animation {
        animation-name: btn-music-player-click;
        animation-duration: 1s;
        animation-timing-function: ease;
    }
}

@keyframes btn-music-player-click-animation {
    0% { transform: scale(1); }
    50% { transform: scale(0.75); }
    100% { transform: scale(1); }
}
