@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'lib/scss/scrollbar';
@import 'lib/scss/text-opacity-background';
@import 'lib/scss/backdrop';
@import 'lib/scss/show-then-fade';

* {
	-webkit-user-select: none;
	user-select: none;
	@apply text-white;
}

img {
	image-rendering: optimizeQuality;
}