@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    @apply text-white;
}

.scrollbar-hidden {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.scrollbar {
    &::-webkit-scrollbar {
        @apply bg-transparent;
    }
    &::-webkit-scrollbar-thumb {
        @apply bg-black rounded;
        border: 3px solid transparent;
        border-radius: 9px;
        background-clip: content-box;
    }
}

.music-progress-bar {
    @apply cursor-pointer outline-0;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;

    &::-webkit-slider-runnable-track {
        @apply h-[.2rem];
        background: linear-gradient(to right, white var(--progress-width), transparent var(--progress-width));
    }
    
    &::-webkit-slider-thumb {
        @apply mt-[.2rem] invisible;
    }
    
    &-end {
        opacity: .3;
        &::-webkit-slider-runnable-track {
                @apply h-[.2rem];
                background: linear-gradient(to right, transparent var(--progress-width), white var(--progress-width));
        }       
    }
}


.volume-progress-bar {
    @apply cursor-pointer outline-0;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;

    &::-webkit-slider-runnable-track {
        @apply h-[.2rem] rounded;
        background: linear-gradient(to right, #fff var(--progress-width), transparent var(--progress-width));
    }
    
    &::-webkit-slider-thumb {
        @apply mt-[.2rem] invisible;
    }

    &-dark {
        &::-webkit-slider-runnable-track {
            background: linear-gradient(to right, #fff var(--progress-width), #9ca3af var(--progress-width));
        }
    }

    &-light {
        &::-webkit-slider-runnable-track {
            background: linear-gradient(to right, #fff var(--progress-width), #ccd0d6 var(--progress-width));
        }
    }
}